APP_ENV=development
APP_SECRET=festive_treat_secret_key_change_in_production
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:8000,http://localhost:8000

DB_HOST=localhost
DB_USER=i10193377_bxdl1
DB_PASS=G.QegrRuIzsHYi6jBFN50
DB_NAME=i10193377_bxdl1
DB_CHARSET=utf8mb4
